@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
    h1 {
      @apply text-4xl text-white
    }

    h2 {
      @apply text-2xl text-white
    }

    h3 {
      @apply text-xl
    }

    h4 {
      @apply text-lg py-4 font-bold
    }

    body {
      @apply bg-gray
    }
}


.lesson-content td {
  @apply border-2 border-black p-2
}

.lesson-content p {
  @apply mb-4 leading-7;
}

.lesson-content td input {
  min-width: 300px;
}


.lesson {
  @apply w-full max-w-4xl md:w-4/5 mx-auto p-10 m-8 border-2 border-gray rounded-xl bg-white z-10 shadow-md;
}

.lesson h1, .lesson h2 {
  @apply text-black text-center m-10 text-4xl font-semibold;
}

.lesson-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.lesson p {
  clear: both;
}

.lesson a {
  @apply text-purple-light hover:underline hover:text-purple-dark
}

.lesson-links {
  @apply mt-10 mb-20;
}

.next {
  float: right;
}

.prev {
  float: left;
}

.lesson-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

blockquote {
  background: #cecccc;
  padding-left: 9px;
  border-left: 4px solid #ff9800;
}
